site_name: Dinoapp Documentation 
site_url: https://docs.dinoapp.io
theme:
  name: material
  language: en 
extra:
  alternate:
    - name: English
      link: /docs.dinoapp.io/
      lang: en
markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
